 body{margin:0; 
  padding:0;
  font-family: 'Koulen', cursive;
  line-height:1em;
  background-color:white;
}


.pagina1 {background-image:imm/foto.jpg;;
  min-height: 100px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.argomenti-1-2 {background-color: white; 
  height:100vh;
}

.argomenti-3-4 {background-color: white; height:100vh;}

.fine {background-color: black; height:50vh;}



/*barra navigazione*/
header {margin:0;
padding:0;
max-width:100%;
color:white;
background-color: black;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

li a:hover {background-color: #111;}


.active{background-color:firebrick;}

/*testo home*/
h1 {font-size: 75px; 
  padding:70px 70px 0px 5px}

h2 {font-size:40px;
  padding:0px 5px 10px 5px;
  color: firebrick;}

h3 {margin: 70px 30px 30px 40px;
}

p {padding:0px 35px 0px 40px;
line-height:1.5em;}

#titolo {line-height:1em;
  color:firebrick;
  margin:120px 100px 150px 90px;
}

.intro-1-3 {line-height:1em;
    color:black;
    margin: 10px 60px 10px 60px; 
    padding:10px 8px 5px 8px;}

.intro-2-4 {line-height:1em;
    color:black;
    margin: 10px 60px 10px 60px; 
    padding:0px 8px 5px 8px;}

.infofine {line-height:1em;
    color:white;
  
    margin-top: 100px;
    margin-bottom:0; 
    padding:70px 8px 5px 8px;}



/*testo sottopagine*/
.titolo2 {line-height:1em;
  color:black;
  margin:30px 50px}

.testo {margin:5px 60px 5px 60px;
line-height:1.5em;}

.sottotitolo {margin: 2px 60px 2px 60px;}


.cv1 {margin-left:60px;
  margin-right: 30px;
padding: 30px;
padding-left: 50px;
border: 2px solid black;
background-color:white}

.cv2 {margin-left:60px;
  margin-right: 30px;
  margin-top:8px;
padding: 30px;
padding-left: 50px;
border: 2px solid black;
background-color: white}


/*bottone more*/
button {background-color:firebrick; 
  color:white;
  border:8px firebrick;
  border-radius:8px;
  text-decoration:none;
  float:right;
  
  margin-top:0;
  margin-right:50px;

  text-align:center;
  display:inline-block;
  cursor:pointer;
  transition-duration:0.5s;}

.click{margin-top: 5px}

.click:hover {background-color:white;
color:firebrick;}



/*bottone share*/
.sharebutton {
  width:140px;
  height:40px;
  background:black;
  border-radius:20px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  position:relative;
  cursor:pointer;
  transition:.3s linear;
  margin:auto;
  margin-top: 40px;
}

.sharebutton:hover{transform: scale(1.1);}

.sharebutton span {
  position:absolute;
  width:100%;
  height:100%;
  background-color: firebrick;
  color:white;
  text-align:center;
  line-height:40px;
  z-index:999;
  transition:.6s linear;
}

.sharebutton:hover span {
  transform: translateX(-100%);}

.social {list-style-type:none;
text-decoration:none;
color:white;
padding:2px;
text-align:center;}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/*footer + base bottone share*/
.infofine {line-height:1em;
color:white;
padding:8px; 
text-decoration:none;
list-style-type:none;
text-align:center;
}

.fine {background-color: black; 
height:50vh;
text-align:center;
padding:0px;
}

footer {line-height:1em; 
color:white;
background-color:black;
margin-bottom:0;
margin top: 60px;
text-align:center;

}

.base {padding:6px; 
text-decoration:none;
list-style-type:none;
text-align:center;
color:white;
margin-bottom:0
}

/*icone*/
.disabled {
  opacity: 0.6;
  cursor: not-allowed;}

.fa {
  padding: 2px;
  font-size: 10px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: firebrick;
  color: white;
}


.wire {width:40%;
height:40%;
padding:5px;}


/*faq duh*/

#domandefa {line-height:1em;
   height:60vh;
    margin: 80px 60px 10px 60px; 
    padding-top:10px;
    padding-bottom:25px;
    border-radius: 15px;
    background-color: firebrick;
    }

#faq {
  max-width: 850px;
  margin: auto;
  padding: 0 15px;
 
}
#faq ul {
  text-align: left;
}

#faq h2 {
  color: white;
  font-size: 15px;
  text-align: left;
  line-height: 34px;
  padding: 10px 10px 0;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 400;
  display: block;
  margin:0;

  cursor: pointer;
  transition: .2s;
}
#faq p {
  color: white;
  text-align: left;
  font-size: 14px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  max-height:100px;
  will-change: max-height;
  contain:layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0,0);
  margin: 5px 10px 15px;
  transition: .3s opacity, .6s max-height;
  hyphens: auto;
  -webkit-hyphens:auto;
  -ms-hyphens:auto;
  z-index: 2;
}
#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin:0;
}
#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: firebrick;

  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
  -webkit-tap-highlight-color: transparent;

}
#faq ul li + li {
  margin-top: 8px;
}
#faq ul li:last-of-type {
  padding-bottom: 0;
}
#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 17px;
  right: 15px;
}
#faq ul li i:before,
#faq ul li i:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 3px;
  height: 9px;
}
#faq ul li i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#faq ul li i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
#faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
#faq ul li input[type=checkbox]:checked ~ h2 {
  color: white;
}
#faq ul li input[type=checkbox]:checked ~ p {
  margin: 0;
  max-height: 0;
  transition: .3s;
  opacity: 0;
}
#faq ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
  background: white;
}
#faq ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
  background: white;
}
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.3s;
} 

.height {margin-top: 7px;
padding-top: 5px;
font-size: 15px;}